# Dependencies
/node_modules

# Next.js
/.next
/out

# Environment
.env
.env.local
.env.production
.env.*.check
.env.vercel.check

# IDE
/.fleet
/.idea
/.vscode

# Vercel
.vercel

# Debug
npm-debug.log
yarn-error.log

# Large media
public/assets/som/*.mp3
